.image-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
  background-image: url('../../images/frame.png');
  background-position: center;
  background-size: 100% 100%;

  img {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    object-fit: contain;
    object-position: center center;
  }

  span {
    position: absolute;
    display: block;
    right: 15.5%;
    bottom: 8.5%;
    font-size: 1vw;
    color: #db8401;
    letter-spacing: 0.01em;
  }

  .loader {
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    background-color: black;
  }
}
