body {
  .wrapper {
    background-image: url('../../images/frame_bg.jpg');
    min-height: 100vh;
  }

  .btn-fullscreen {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999;
  }
}
