.daily-counter {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;

  .inner {
    max-width: 1820px;
    margin: 0 auto;

    h1 {
      font-weight: 600;
      font-size: 88px;
      line-height: 107px;
      padding-top: 50px;
      padding-bottom: 50px;
      border-bottom: 5px solid #000;
      margin-bottom: 70px;
    }

    h2 {
      font-weight: 300;
      font-size: 88px;
      line-height: 107px;
      margin-bottom: 70px;
    }
    .count {
      font-weight: 300;
      font-size: 300px;
      line-height: 366px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}
