.hallway-gallery {
  max-width: 1920px;
  min-height: 100vh;
  padding: 0 45px;

  .canvas-item {
    position: relative;
    display: block;
    padding: 0;
    margin: 10px 0;
    @import '../common/canvas-image';

    .image-wrapper span {
      bottom: 7%;
    }

    .loader {
      transition-delay: 0.5s;
    }
  }
}
