.largest-canvas {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;

  .artwork {
    max-width: 860px;
    margin: 0 auto;

    @import '../common/canvas-image';
  }

  .paper {
    padding: 45px;
    background-color: white;

    .paper-inner {
      width: 80vw;
      max-width: 430px;

      h1 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;

        & + p {
          font-size: 13px;
          line-height: 1.8;
          font-weight: 400;
          margin-bottom: 20px;
        }
      }

      h2 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 5px;

        & + p {
          font-size: 18px;
          line-height: 1.1;
          font-weight: 400;
          letter-spacing: 0.35em;
          margin-bottom: 15px;
        }
      }
    }
  }
}
